<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->

<!-- Form Module-->
<div class="module form-module">
  
  <div align=center>
  <button ui-sref="register()">Sign Up</button>
  <button ui-sref="login()">Log In</button>
  <button ui-sref="inicio()">Volver Al Inicio</button>
  </div>
  <div class="form" align=center>
    <h2>Registrar una cuenta</h2>
    <form name="FormRegistro" id="formRegistro">
      <!-- <h3>Nombre:</h3>
      <input type="text" name="nombre" ng-model="usuario.nombre" placeholder="Nombre" required/>
      <h3>Apellido:</h3>
      <input type="text" name="apellido" ng-model="usuario.apellido" placeholder="Apellido" required/>
      <h3>Edad:</h3><br><br>
      <span ng-show="(usuario.edad != null && usuario.fechaNac != null) && ((dateNow.getFullYear() - usuario.fechaNac.getFullYear()) != usuario.edad)">* La fecha de nacimiento no es coherente con esta edad.</span><br><br>
      <input type="number" name="edad" min=18 max=99 ng-model="usuario.edad" placeholder="Edad" required/>
      <h3>Sexo:</h3> <span ng-show="usuario.sexo == null"> * Elegir una opción </span><br><br>
      <input type="radio" name="sexo" ng-model="usuario.sexo" value="masculino" ng-required="usuario.sexo == null"> Masculino <br>
      <input type="radio" name="sexo" ng-model="usuario.sexo" value="femenino" ng-required="usuario.sexo == null"> Femenino <br>
      <input type="radio" name="sexo" ng-model="usuario.sexo" value="otro" ng-required="usuario.sexo == null"> Otro <br>

       -->
      <h3>Dirección de E-Mail:</h3>
      <input type="email" name="email" ng-model="usuario.email" placeholder="E-mail" required/>

      <h3>Número de DNI:</h3>
      <input type="number" name="dni" min=10000000 max=99999999 ng-model="usuario.dni" placeholder="DNI" required/>
      <!-- <h3>Estado Civil:</h3>
      <select name="estado" ng-model="usuario.estadoC" required>
        <option value="soltero">Soltero/a</option>
        <option value="comprometido">Comprometido/a</option>
        <option value="casado">Casado/a</option>
        <option value="viudo">Viudo/a</option>
      </select>
      <h3>Fecha de Nacimiento:</h3><br><br>
      <span ng-show="(usuario.edad != null && usuario.fechaNac != null) && ((dateNow.getFullYear() - usuario.fechaNac.getFullYear()) != usuario.edad)">* La edad no es coherente con esta fecha</span><br><span ng-show="(usuario.fechaNac != null) && (dateNow < usuario.fechaNac)">* La fecha no debe ser futura.</span><br>
      <input type="date" name="fechaNac" ng-model="usuario.fechaNac" required/> -->
      <h3>Contraseña (7 caracteres):</h3>
      <input type="password" name="pass" minlength="7" ng-model="usuario.pass" placeholder="Password" required/>
      <span ng-show="usuario.pass != usuario.passC">* Las contraseñas no coinciden.</span><br><br>
      <h3>Confirmación de Contraseña:</h3>
      <input type="password" name="passC" minlength="7" ng-model="usuario.passC" placeholder="Copia de Password" required/>
      <!-- <h3>Lenguajes conocidos de Programación:</h3><br><br>
      <span ng-show="(!usuario.langJS && !usuario.langHTML && !usuario.langAJS && !usuario.langCS && !usuario.langPHP)"> * Tildar al menos una opción </span><br><br>
      <input type="checkbox" name="langJS" ng-model="usuario.langJS" value="Javascript" ng-required="(!usuario.langJS && !usuario.langHTML && !usuario.langAJS && !usuario.langCS && !usuario.langPHP)"/> JavaScript 
      <input type="checkbox" name="langHTML" ng-model="usuario.langHTML" value="html" ng-required="(!usuario.langJS && !usuario.langHTML && !usuario.langAJS && !usuario.langCS && !usuario.langPHP)"/> HTML <br> 
      <input type="checkbox" name="langAJS" ng-model="usuario.langAJS" value="angularJS" ng-required="(!usuario.langJS && !usuario.langHTML && !usuario.langAJS && !usuario.langCS && !usuario.langPHP)"/> AngularJS
      <input type="checkbox" name="langCS" ng-model="usuario.langCS" value="cSharp" ng-required="(!usuario.langJS && !usuario.langHTML && !usuario.langAJS && !usuario.langCS && !usuario.langPHP)"/> C# <br> 
      <input type="checkbox" name="langPHP" ng-model="usuario.langPHP" value="php" ng-required="(!usuario.langJS && !usuario.langHTML && !usuario.langAJS && !usuario.langCS && !usuario.langPHP)"/> PHP <br>  -->
      <button ng-disabled="FormRegistro.$invalid || (usuario.pass != usuario.passC)"  ng-click="Registrar()">Registrar</button>
      <!-- || ((usuario.edad != null && usuario.fechaNac != null) && ((dateNow.getFullYear() - usuario.fechaNac.getFullYear()) != usuario.edad)) || ((usuario.fechaNac != null) && (dateNow < usuario.fechaNac))" -->
    </form>
  </div>
  <!-- <div class="cta"><a href="http://andytran.me">Forgot your password?</a></div> -->
</div>
<!-- <script src='http://codepen.io/andytran/pen/vLmRVp.js'></script> -->

        
